<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Crash Course</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Node Crash Course</h1></a>
            <p>A Net Ninja Free Course.</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi molestiae aut cumque quas fugit consequatur enim ex dolorem provident sunt tempore adipisci, pariatur quam nobis harum doloribus incidunt sapiente numquam, iusto reprehenderit earum animi? Corrupti facilis culpa quaerat sint laboriosam rem fugit iure provident.</p>
        <p>Ex assumenda nam magni consequuntur iusto pariatur dolorem dolore soluta. Saepe similique veniam dolorum optio nostrum. Architecto totam optio distinctio excepturi laudantium, asperiores aut aspernatur. Deserunt culpa accusantium inventore veritatis consectetur quibusdam voluptate. Dolor dolorem libero ad necessitatibus architecto nulla, tempora repellendus!</p>
        <p>Sequi in tempore vel sunt obcaecati voluptate, laborum, quas rem nobis fugiat nesciunt aliquam necessitatibus voluptatem laboriosam. Dolore veniam praesentium dicta earum pariatur a ipsam? Neque totam ipsa reprehenderit architecto nemo aliquam? Eius quisquam quis corrupti similique delectus ut perferendis eos, in minima dolorem vel! Provident, reprehenderit laborum dolore temporibus iste incidunt porro perspiciatis ipsum odit nemo optio consequuntur autem vero animi deleniti tenetur? Provident, exercitationem corporis perferendis cumque possimus quae qui ipsum veniam, consectetur molestiae eum nesciunt perspiciatis quis blanditiis modi dolor? Eaque beatae animi unde exercitationem laudantium obcaecati, laboriosam quibusdam?</p>
    </div>
</body>
</html>